.body{
    width: 100%;
    border: 1px solid green;
    height: auto;
    /* display: flex; */
    gap: 10px;
}

.main-sec{
    width:55%;
    height:auto;
    border:1px solid red;
    /* padding-left: 20px; */
}
.cart{
    /* margin: 0px; */
    width:95%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-c{
    width:170px;
    padding-right: 20px;
}

.btn{
    width: 180px;
    margin-top: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: brown;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
button{
    font-size: 20px;
    font-weight: bold;
}
.con{
    font-size: 16px;
    font-weight: bold;
}
.plus{
    width:10px;
    height: 10px;
    border: 1px solid red;
}
  