.MenuLink{
    margin-top: "50px";
    margin-bottom: 100px;
    color: blue;
}
.top-nav{
    display: flex;
    font-size: larger;
    gap: 10px;
}
.top-btn{
    font-size: 25px;
    font-weight: bold;
    
}
@media only screen and (max-width: 800px) {
    .NavbarSearch{
        width: 90%;
    }
}
#Box2{
    display: none;
}

@media only screen and (max-width: 500px) {
   
    .NavbarSearch{
        width: 70%;
    }
}


