#Box1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

#Box2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
P{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 1000px) {
    #Box1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    #Box2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    
}

@media (max-width: 767px) {
    #Box1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    #Box2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}

@media (max-width: 499px) {
    #Box1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    #Box2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}