/* .container{
    display: flex;
    margin: auto;
    border: 1px solid red
} */
input{
    border:1px solid black;
    align-items: center;
    width: 500px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
} 
.input{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.img{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}