/* .container{
    display: flex;
    margin: auto;
    border: 1px solid red
} */

.input{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
.img{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}