#MainPart {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  display: flex;
  height: "100%";
}

.LeftsideBar {
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem;
  height: 100%;
  width: 20%;
}

.secondDiv {
  width: 80%;
}

.ProductSection {
  border: 1px solid rgb(0, 0, 0);
  padding: 2rem;
  width: 100%;
}

.Pagination {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  padding: 1rem;
}

/* SEARCHBAR CSS HAS BEEN WRITTEN OVER HERE */

.SearchBar {
  width: 50%;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
}

#searchBar {
  display: flex;
  gap: 5px;
}

.SearchButton {
  width: 10rem;
  border-radius: 5px;
  background-color: rgb(66, 103, 171);
  color: white;
  box-shadow: 0px 0px 9px -3px #545454;
  transition: 0.3s;
}

.SearchButton:hover {
  background-color: rgb(13, 54, 124);
}

/* LEFTSIDE FILTER PART DESIGN OF YOUR WEBSITE */

.Heading {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  text-align: center;
  align-items: center;
}

.Heading h1 {
  font-size: 1.3rem;
}

.Heading h2 {
  font-size: 1rem;
  color: red;
  cursor: pointer;
}

.firstcategory {
  padding: 2px;
  text-align: left;
  display: block;
  gap: 1rem;
  width: 90%;
}

.FilterCategory {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  text-align: left;
  padding: 0rem 2rem;
}

.FilterCategory h1 {
  margin-bottom: 1rem;
  font-weight: 800;
}

/* ALL MEDIA QUERY HAS BEEN WRITTEN OVER HERE */

@media only screen and (max-width: 850px) {
  #MainPart {
    border: 2px solid blue;
    width: 100%;
    display: block;
  }

  .LeftsideBar {
    border: 2px solid red;
    width: 100%;
  }
  .secondDiv {
    width: 100%;
  }
  .SearchBar {
    width: 70%;
  }
}
